{
  "presets": [
    ["@babel/preset-env",
    {
      "useBuiltIns": "entry",
      "corejs": 3
    }]
  ],
  "parserOpts": {
  	"plugins": ["transform-object-rest-spread", "transform-es2015-spread", "transform-es2015-destructuring"]
  }
}
