{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
	<div class="wrapper">
		<div class="breadcrumbs">
			<ul class="breadcrumbs-list">
				<li class="breadcrumbs-item">
					<a href="#" class="breadcrumbs-link">Главная</a>
				</li>
				<li class="breadcrumbs-item">
					<a class="breadcrumbs-link">Каталог</a>
				</li>
			</ul>
		</div>
		<h1 class="page-header">Каталог</h1>
		<div class="checker-options checker-options--catalog">
			<ul class="checker-options-list">
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Диваны и кресла</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="58" height="41">
											<use xlink:href="img/sprite.svg#icon-catalog1"></use>
										</svg>
									</span>
									<span class="catalog-category">Угловые диваны</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="53" height="23">
											<use xlink:href="img/sprite.svg#icon-catalog2"></use>
										</svg>
									</span>
									<span class="catalog-category">Прямые диваны</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="57" height="29">
											<use xlink:href="img/sprite.svg#icon-catalog3"></use>
										</svg>
									</span>
									<span class="catalog-category">Модульные диваны</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="36" height="26">
											<use xlink:href="img/sprite.svg#icon-catalog4"></use>
										</svg>
									</span>
									<span class="catalog-category">Кресла</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="50" height="37">
											<use xlink:href="img/sprite.svg#icon-catalog5"></use>
										</svg>
									</span>
									<span class="catalog-category">Пуфы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="58" height="41">
											<use xlink:href="img/sprite.svg#icon-catalog6"></use>
										</svg>
									</span>
									<span class="catalog-category">Конструктор диванов</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog1.jpg" srcset="img/img_catalog1@2x.jpg 2x" alt="Диваны и кресла">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Шкафы</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="26" height="36">
											<use xlink:href="img/sprite.svg#icon-catalog7"></use>
										</svg>
									</span>
									<span class="catalog-category">Распашные шкафы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="46" height="46">
											<use xlink:href="img/sprite.svg#icon-catalog8"></use>
										</svg>
									</span>
									<span class="catalog-category">Угловые шкафы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="34" height="38">
											<use xlink:href="img/sprite.svg#icon-catalog9"></use>
										</svg>
									</span>
									<span class="catalog-category">Гардеробные системы</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog2.jpg" srcset="img/img_catalog2@2x.jpg 2x" alt="Шкафы">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Мебель для гостиной</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="39" height="37">
											<use xlink:href="img/sprite.svg#icon-catalog10"></use>
										</svg>
									</span>
									<span class="catalog-category">Стенки</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="47" height="37">
											<use xlink:href="img/sprite.svg#icon-catalog11"></use>
										</svg>
									</span>
									<span class="catalog-category">Модульные гостиные</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="33" height="31">
											<use xlink:href="img/sprite.svg#icon-catalog12"></use>
										</svg>
									</span>
									<span class="catalog-category">Тумбы под ТВ</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="39" height="37">
											<use xlink:href="img/sprite.svg#icon-catalog13"></use>
										</svg>
									</span>
									<span class="catalog-category">Стелажи</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="38" height="21">
											<use xlink:href="img/sprite.svg#icon-catalog14"></use>
										</svg>
									</span>
									<span class="catalog-category">Полки</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="50" height="26">
											<use xlink:href="img/sprite.svg#icon-catalog15"></use>
										</svg>
									</span>
									<span class="catalog-category">Столы-трансформеры</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="39" height="28">
											<use xlink:href="img/sprite.svg#icon-catalog16"></use>
										</svg>
									</span>
									<span class="catalog-category">Журнальные столы</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog3.jpg" srcset="img/img_catalog3@2x.jpg 2x" alt="Мебель для гостиной">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Мебель для спальни</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="50" height="36">
											<use xlink:href="img/sprite.svg#icon-catalog17"></use>
										</svg>
									</span>
									<span class="catalog-category">Спальные гарнитуры</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="38" height="32">
											<use xlink:href="img/sprite.svg#icon-catalog18"></use>
										</svg>
									</span>
									<span class="catalog-category">Кровати</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="53" height="25">
											<use xlink:href="img/sprite.svg#icon-catalog19"></use>
										</svg>
									</span>
									<span class="catalog-category">Матрацы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="26" height="40">
											<use xlink:href="img/sprite.svg#icon-catalog20"></use>
										</svg>
									</span>
									<span class="catalog-category">Прикроватные тумбы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="37" height="35">
											<use xlink:href="img/sprite.svg#icon-catalog21"></use>
										</svg>
									</span>
									<span class="catalog-category">Комоды</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="30" height="27">
											<use xlink:href="img/sprite.svg#icon-catalog22"></use>
										</svg>
									</span>
									<span class="catalog-category">Банкетки</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="27" height="33">
											<use xlink:href="img/sprite.svg#icon-catalog23"></use>
										</svg>
									</span>
									<span class="catalog-category">Зеркала</span>
								</a>
							</li>
						</ul>
					</div>

					<div class="checker-options-img">
						<img src="img/img_catalog4.jpg" srcset="img/img_catalog4@2x.jpg 2x" alt="Мебель для спальни">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Мебель для прихожей</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="36" height="47">
											<use xlink:href="img/sprite.svg#icon-catalog24"></use>
										</svg>
									</span>
									<span class="catalog-category">Прихожие</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="29" height="35">
											<use xlink:href="img/sprite.svg#icon-catalog25"></use>
										</svg>
									</span>
									<span class="catalog-category">Вешалки</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="37" height="35">
											<use xlink:href="img/sprite.svg#icon-catalog26"></use>
										</svg>
									</span>
									<span class="catalog-category">Комоды</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="32" height="33">
											<use xlink:href="img/sprite.svg#icon-catalog27"></use>
										</svg>
									</span>
									<span class="catalog-category">Обувницы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="27" height="33">
											<use xlink:href="img/sprite.svg#icon-catalog23"></use>
										</svg>
									</span>
									<span class="catalog-category">Зеркала</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="42" height="24">
											<use xlink:href="img/sprite.svg#icon-catalog28"></use>
										</svg>
									</span>
									<span class="catalog-category">Пуфы и скамьи в прихожую</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog5.jpg" srcset="img/img_catalog5@2x.jpg 2x" alt="Мебель для прихожей">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Мебель для кухни</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="45" height="45">
											<use xlink:href="img/sprite.svg#icon-catalog29"></use>
										</svg>
									</span>
									<span class="catalog-category">Кухонные гарнитуры</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="50" height="36">
											<use xlink:href="img/sprite.svg#icon-catalog30"></use>
										</svg>
									</span>
									<span class="catalog-category">Кухонные диваны</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="48" height="37">
											<use xlink:href="img/sprite.svg#icon-catalog31"></use>
										</svg>
									</span>
									<span class="catalog-category">Столы и обеденные группы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="40" height="26">
											<use xlink:href="img/sprite.svg#icon-catalog32"></use>
										</svg>
									</span>
									<span class="catalog-category">Обеденные столы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="26" height="35">
											<use xlink:href="img/sprite.svg#icon-catalog33"></use>
										</svg>
									</span>
									<span class="catalog-category">Стулья</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog6.jpg" srcset="img/img_catalog6@2x.jpg 2x" alt="Мебель для кухни">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Мебель для детской</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="40" height="40">
											<use xlink:href="img/sprite.svg#icon-catalog34"></use>
										</svg>
									</span>
									<span class="catalog-category">Модульные детские </span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="45" height="29">
											<use xlink:href="img/sprite.svg#icon-catalog35"></use>
										</svg>
									</span>
									<span class="catalog-category">Детские кровати</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="58" height="41">
											<use xlink:href="img/sprite.svg#icon-catalog36"></use>
										</svg>
									</span>
									<span class="catalog-category">Детские диваны</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog7.jpg" srcset="img/img_catalog7@2x.jpg 2x" alt="Мебель для детской">
					</div>
				</li>
				<li class="checker-options-item">
					<div class="checker-options-desc">
						<p class="checker-options-header">Домашний кабинет</p>
						<ul class="catalog-list">
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="40" height="40">
											<use xlink:href="img/sprite.svg#icon-catalog37"></use>
										</svg>
									</span>
									<span class="catalog-category">Столы</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="32" height="40">
											<use xlink:href="img/sprite.svg#icon-catalog38"></use>
										</svg>
									</span>
									<span class="catalog-category">Компьютерные стулья</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="40" height="37">
											<use xlink:href="img/sprite.svg#icon-catalog39"></use>
										</svg>
									</span>
									<span class="catalog-category">Стеллажи</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="38" height="21">
											<use xlink:href="img/sprite.svg#icon-catalog40"></use>
										</svg>
									</span>
									<span class="catalog-category">Полки</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="45" height="23">
											<use xlink:href="img/sprite.svg#icon-catalog41"></use>
										</svg>
									</span>
									<span class="catalog-category">Офисные диваны</span>
								</a>
							</li>
							<li class="catalog-item">
								<a href="#" class="catalog-link">
									<span class="catalog-icon">
										<svg class="icon" width="36" height="26">
											<use xlink:href="img/sprite.svg#icon-catalog42"></use>
										</svg>
									</span>
									<span class="catalog-category">Офисные кресла</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="checker-options-img">
						<img src="img/img_catalog8.jpg" srcset="img/img_catalog8@2x.jpg 2x" alt="Домашний кабинет">
					</div>
				</li>
			</ul>
		</div>
	</div>
	<section class="catalog-footer">
		<div class="wrapper">
			<div class="catalog-footer-text">Таким образом сложившаяся структура организации в значительной степени
				обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Не следует,
				однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от
				нас анализа систем массового участия. Значимость этих проблем настолько очевидна, что реализация
				намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании новых
				предложений.</div>
			<section class="promo-section full-width">
				<picture class="promo-section-image full-width-picture">
					<source srcset="img/catalog-promo@2x.png 2x" />
					<img src="img/catalog-promo@2x.png" />
					<div class="tooltips-container">
						<button class="tooltip-button" style="top: 23%; left: 44%;">
							<svg fill="none">
								<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
							</svg>
							<div class="tooltip flex-col">
								<div class="flex-row">
									<div class="type">диван</div>
									<div class="discount">-10%</div>
								</div>
								<div class="flex-row">
									<h2 class="h1 header">Verona Denim Blue</h2>
								</div>
								<div class="arrow"></div>
							</div>
						</button>
						<button class="tooltip-button" style="top: 38%; left: 72%;">
							<svg fill="none">
								<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
							</svg>
							<div class="tooltip flex-col">
								<div class="flex-row">
									<div class="type">диван</div>
									<div class="discount">-10%</div>
								</div>
								<div class="flex-row">
									<h2 class="h1 header">Verona Denim Blue</h2>
								</div>
								<div class="arrow"></div>
							</div>
						</button>
						<button class="tooltip-button" style="top: 53%; left: 76%;">
							<svg fill="none">
								<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
							</svg>
							<div class="tooltip flex-col">
								<div class="flex-row">
									<div class="type">диван</div>
									<div class="discount">-10%</div>
								</div>
								<div class="flex-row">
									<h2 class="h1 header">Verona Denim Blue</h2>
								</div>
								<div class="arrow"></div>
							</div>
						</button>
					</div>
				</picture>
				<div class="promo-description">
					<ul class="promo-checklist">
						<li class="promo-checklist-item">Подойдет для создание интерьера, удовлетворяющего всем
							требованиям</li>
						<li class="promo-checklist-item">Функциональность на высшем уровне</li>
						<li class="promo-checklist-item">Лучшее качество и удобство</li>
						<li class="promo-checklist-item">Качественная и удобная продукция удобна&nbsp;как для отдыха,
							так и для сна</li>
						<li class="promo-checklist-item">Функциональность на высшем уровне</li>
					</ul>
				</div>
			</section>
			<div class="catalog-footer-seo catalog-footer-seo--margin">
				<h2 class="section-header">создайте уют в своей квартире</h2>
				<div class="catalog-seo-text">
					<div>
						Кресло— мебель, предназначенная для сидения одного человека, со спинкой и сиденьем с
						подлокотниками или без них.
						Кресло отличается от табурета наличием спинки. Разграничение между стулом и креслом —
						комфортабельность изделия, рабочее кресло при этом может вовсе не отличаться от рабочего стула.
						В то же время кресло может рассматриваться как род стула.
						Кресла — самый распространённый и массовый вид мебели, существует множество видов, моделей и
						фасонов стульев. Возможно, стул больше всех других предметов мебели подвержен влиянию моды.
					</div>
					<img src="img/cat.png" alt="">
				</div>
			</div>
		</div>
	</section>

</main>

{% endblock %}