{% set menuCollapsed=true %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
	<div class="wrapper">
		{% set links = [
        { title: 'Главная', href: '/' },
        { title: 'Программа лояльности', href: '' }
    ] %}
		{% include './partials/_breadcrumbs.html' %}
		<section class="promo-section promo-section--cooperation full-width">
			<picture class="full-width-picture">
				<img src="img/cooperation.jpg" />
			</picture>
			<div class="promo-description">
				<h1 class="section-header promo-section-header">Программа лояльности</h1>
				<p class="promo-section-text">Идейные соображения высшего порядка, а также постоянный количественный
					рост и сфера нашей активности требуют определения и уточнения дальнейших</p>
			</div>
		</section>
		<section class="page-section mini-description">
			<p>С другой стороны консультация с широким активом требуют определения и уточнения модели развития. С другой
				стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения позиций,
				занимаемых участниками в отношении поставленных задач. Товарищи! новая модель организационной
				деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует
				насущным потребностям. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров
				представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении
				поставленных задач. Равным образом дальнейшее развитие различных форм деятельности способствует
				подготовки и реализации направлений прогрессивного развития.</p>
		</section>
		<section class="page-section">
			<h2 class="h1">Став участником<br> программы, Вы сможете</h2>
			<div class="loyalty-benefits-block">
				<div class="lb-row">
					<div class="lb-item">
						<h2 class="h1">1</h2>
						<p>Купить баллы</p>
					</div>
					<div class="lb-item">
						<h2 class="h1">2</h2>
						<p>Расплачиваться <br>баллами</p>
					</div>
					<div class="lb-item">
						<h2 class="h1">3</h2>
						<p>Участвовать в конкурсах розыгрышах</p>
					</div>
				</div>
				<div class="lb-row">
					<div class="lb-item">
						<h2 class="h1">4</h2>
						<p>Получать самые <br>выгодные предложения</p>
					</div>
					<div class="lb-item">
						<h2 class="h1">5</h2>
						<p>Получать подарки</p>
					</div>
					<div class="lb-item">
						<h2 class="h1">6</h2>
						<p>Преимущество участия в программе лояльности</p>
					</div>
				</div>
			</div>
		</section>
		<section class="page-section">
			<div class="motivation-block">
				<div>
					<p>Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в
						формировании новых предложений. Товарищи! реализация намеченных плановых заданий обеспечивает
						широкому кругу (специалистов) участие в формировании дальнейших направлений развития.</p>
				</div>
				<div>
					<img src="./img/loyalty.jpg" />
				</div>
			</div>
		</section>
		<section class="page-section">
			<div class="targets-block">
				<div>
					<img src="./img/waves.svg" />
					<p>Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей
						деятельности позволяет оценить значение форм развития.</p>
				</div>
				<div>
					<img src="./img/waves.svg" />
					<p>Задача организации, в особенности же укрепление и развитие структуры играет важную роль в
						формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
				</div>
			</div>
		</section>
		<section class="page-section mini-description">
			<p>Таким образом сложившаяся структура организации в значительной степени обуславливает создание позиций,
				занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянное
				информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа систем массового
				участия. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий
				обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.</p>
		</section>
	</div>
</main>

{% endblock %}