{% set menuCollapsed=true %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Сотрудничество</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Оптовикам</a>
        </li>
      </ul>
    </div>
    <h1 class="page-header">Оптовикам</h1>
    <nav class="page-subnav">
      <ul class="page-subnav-list">
        <li class="page-subnav-list-item">
          <a href="#" class="page-subnav-link">Сотрудничество</a>
        </li>
        <li class="page-subnav-list-item">
          <a href="#" class="page-subnav-link">Дизайнерам</a>
        </li>
        <li class="page-subnav-list-item">
          <a href="#" class="page-subnav-link">Поставщикам</a>
        </li>
        <li class="page-subnav-list-item">
          <a  class="page-subnav-link">Оптовикам</a>
        </li>
        <li class="page-subnav-list-item">
          <a href="#" class="page-subnav-link">Карьера</a>
        </li>
      </ul>
    </nav>
    <section class="promo-section promo-section--cooperation full-width">
      <picture class="full-width-picture">
        <img src="img/cooperation.jpg"/>
      </picture>
      <div class="promo-description">
        <h2 class="h1 section-header promo-section-header">Оптовикам</h2>
        <p class="promo-section-text">Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют определения и уточнения дальнейших </p>
        
      </div>
    </section>
    <section class="page-section partner-provider">
     
      <div class="lead section-margin">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
      </div>
  
      <div class="styled-content section-margin styled-bg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
      </div>

    </section>

      <section class="grid-section partner-provider">
        <div class="row row-grid2">
          <div class="row-box">
            <h2>Подзаголовок в тексте</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolores voluptates reprehenderit reiciendis, in, eveniet ducimus cupiditate, vitae velit beatae ex quae cum! Labore dolorum quis quas hic in nesciunt!</p>
           
          </div>
          <div class="row-box">
            <h2>Подзаголовок в тексте</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis rerum sapiente libero consequatur temporibus, quae cumque saepe officiis? Eius temporibus dicta quas libero dolorum magnam fugit ipsa sapiente quae totam!</p>
            
          </div>
          
        </div>
  
      </section >

      <section class="page-section partner-provider">
        <h3>1. Подподзаголовок</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
        
        <div class="row row-grid2">
          <div class="row-box box-transparent">
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              <li>Aenean euismod bibendum laoreet.</li>
              <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo</li>
              <li>Proin sodales pulvinar tempor.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</li>
            </ul>
           
          </div>
          <div class="row-box box-transparent">
            <img src="img/checker-options2.jpg" alt="">
            
          </div>
          
        </div>
        

      </section>

      <section class="page-section">
        <ul class="files-list">
          <li class="files-item">
            <a href="/" class="download-doc">
              <span class="download-doc-icon">
                <svg class="icon icon-file">
                  <use xlink:href="img/sprite.svg#icon-file"></use>
                </svg>
              </span>
              <div class="download-doc-info">
                <span class="download-doc-name">Каталог продукции</span>
                <span class="download-doc-meta">Файл PDF (1.3 Mb) </span>
              </div>
            </a>
          </li>
          <li class="files-item">
            <a href="/" class="download-doc">
              <span class="download-doc-icon">
                <svg class="icon icon-file">
                  <use xlink:href="img/sprite.svg#icon-file"></use>
                </svg>
              </span>
              <div class="download-doc-info">
                <span class="download-doc-name">Каталог продукции </span>
                <span class="download-doc-meta">DOC, 809 КБ, 2 сентября 2017 в 2:05 </span>
              </div>
            </a>
          </li>
          <li class="files-item">
            <a href="/" class="download-doc">
              <span class="download-doc-icon">
                <svg class="icon icon-file">
                  <use xlink:href="img/sprite.svg#icon-file"></use>
                </svg>
              </span>
              <div class="download-doc-info">
                <span class="download-doc-name">Каталог продукции </span>
                <span class="download-doc-meta">DOC, 809 КБ, 2 сентября 2017 в 2:05 </span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <section class="grid-section">
        <div class="row row-grid-3">
          <div class="row-box">
            <ul class="check-list">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</li>
              <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
            </ul>
          </div>
          <div class="row-box">
            <ul class="check-list">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</li>
              <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
            </ul>
          </div>
          <div class="row-box">
            <ul class="check-list">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</li>
              <li>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</li>
            </ul>
          </div>
          
        </div>
      </section>

    <section class="page-section">
      <div class="detailed-info-block">
        <div class="f-col">
          <h2 class="h1">Более подробную информацию мы направим вам на почту</h2>
          <p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа систем массового участия.</p>
        </div>
        <div class="f-col">
          <a data-fancybox data-src="#back-message" href="javascript:;" class="button" >Обратная связь</a>
        </div>
      </div>
    </section> 
  </div>
</main>

{% endblock %}