{% set menuCollapsed=true %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Правила использования сайтом</a>
        </li>
      </ul>
    </div>
    <h1 class="page-header">Карта сайта</h1>

    <section class="styled-content">
		<div class="flex-row flex-block-same flex-row-margin flex-row-768-down styled-content">
			<div class="flex-col">
				<ul>
					<li>
						<a href="#"><b>Главная страница</b></a>
						<ul>
							<li>
								<a href="#"><b>Каталог</b></a>
								<ul>
									<li>
										<a href="#"><b>Диваны и кресла</b></a>
										<ul>
											<li>
												<a href="#">Страница подкатегории</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Угловые диваны</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Прямые диваны</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Модульные диваны</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Кресла</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Пуфы</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="#"><b>Шкафы</b></a>
										<ul>
											<li>
												<a href="#">Страница подкатегории</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="#"><b>Мебель для гостиной</b></a>
										<ul>
											<li>
												<a href="#">Страница подкатегории</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Стенки</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Модульные гостиные</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Тумбы под ТВ</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Стелажи</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Полки</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Столы - трансформеры</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Журнальные столы</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="#"><b>Мебель для спальни</b></a>
										<ul>
											<li>
												<a href="#">Страница подкатегории</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Спальные гарнитуры</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Кровати</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Матрасы</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Прикроватные тумбы</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Комоды</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Банкетки</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Зеркала</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>
										<a href="#"><b>Мебель для прихожей</b></a>
										<ul>
											<li>
												<a href="#">Страница подкатегории</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Прихожие</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Вешалки</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Комоды</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Обувницы</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Зеркала</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Пуфы и скамьи в прихожую</a>
												<ul>
													<li>
														<a href="#">Страница товара</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="flex-col">
				<ul>
					<li>
						<a href="#"><b>О компании</b></a>
						<ul>
							<li>
								<a href="#">Отзывы</a>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
							<li>
								<a href="#">Вопрос ответ</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><b>Покупателям</b></a>
						<ul>
							<li>
								<a href="#">Доставка и оплата</a>
							</li>
							<li>
								<a href="#">Условия возврата</a>
							</li>
							<li>
								<a href="#">Гарантии</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><b>Сотрудничество</b></a>
					</li>
					<li>
						<a href="#"><b>Дизайнерам</b></a>
					</li>
					<li>
						<a href="#"><b>Программа лояльности</b></a>
					</li>
					<li>
						<a href="#"><b>Статьи</b></a>
						<ul>
							<li>
								<a href="#">Страница статьи</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><b>Магазины и пункты самовывоза</b></a>
					</li>
					<li>
						<a href="#"><b>Акции</b></a>
						<ul>
							<li>
								<a href="#">Страница акции</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><b>Избранное</b></a>
					</li>
					<li>
						<a href="#"><b>Сравнение</b></a>
					</li>
					<li>
						<a href="#"><b>Ранее просмотренные</b></a>
					</li>
					<li>
						<a href="#"><b>Корзина</b></a>
					</li>
					<li>
						<a href="#"><b>Оформление заказа</b></a>
						<ul>
							<li>
								<a href="#">Страница успешного оформления заказа</a>
							</li>
							<li>
								<a href="#">Страница ошибки</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><b>Пользовательское соглашение</b></a>
					</li>
					<li>
						<a href="#"><b>Политика конфиденциальности</b></a>
					</li>
					<li>
						<a href="#"><b>Правила использования cookies</b></a>
					</li>
					<li>
						<a href="#"><b>Карта сайта</b></a>
					</li>
					<li>
						<a href="#"><b>Результаты поиска</b></a>
					</li>
					<li>
						<a href="#"><b>404</b></a>
					</li>
				</ul>
			</div>
		</div>
    </section>
    
   

  </div>

</main>

{% endblock %}
