{% set menuCollapsed=true %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
  <div class="wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Главная</a>
        </li>
        <li class="breadcrumbs-item">
          <a href="#" class="breadcrumbs-link">Покупателям</a>
        </li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link">Возврат товара</a>
        </li>
      </ul>
    </div>
    <h1 class="page-header">Условия возврата</h1>
    <nav class="page-subnav">
      <ul class="page-subnav-list">
        <li class="page-subnav-list-item">
          <a class="page-subnav-link" href="/page-bayers">Покупателям</a>
        </li>
        <li class="page-subnav-list-item">
          <a class="page-subnav-link" href="/page-shipping-payments.html">Доставка и оплата</a>
        </li>
        <li class="page-subnav-list-item">
          <a class="page-subnav-link" >Условия возврата</a>
        </li>
        <li class="page-subnav-list-item">
          <a class="page-subnav-link" href="/page-warranty.html" >Гарантии</a>
        </li>

      </ul>
    </nav>

    <section class="styled-content">
      <div class="lead">
        <h2>Возврат или обмен товара надлежащего качества производится в течение 7 (семи) дней с момента получения</h2>
        <p class="social-feed-text"> соответствие со ст.26.1 Закона «О защите прав потребителей».</p>
      </div>
    </section>
    <section class="page-section styled-content styled-bg section-margin">
      <h3>Вы хотите вернуть или обменять товар надлежащего качества:</h3>
      <ul>
        <li>Должен быть сохранен товарный вид товара, товар должен быть исправен и не иметь механических повреждений (за исключением производственных дефектов, если таковые имелись)</li>
        <li>Должны быть сохранены потребительские свойства товара</li>
        <li>Должны быть сохранены товарный и кассовый чеки, паспорт товара и другая документация.</li>
      </ul>
      <div class="section-margin section-bg">
        <div class="flex-container flex-middle danger-info">
          <img src="img/dangures.png" alt="">
          <div>
            <h3>Важно !</h3>
            <p>Потребитель не в праве отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его потребителем.</p>
          </div>
        </div>
      </div>
      <h3 class="small-margin">Обмен и возврат товаров ненадлежащего качества не производится:</h3>
      <ul>
        <li>Для товаров, поврежденных по вине пользователя</li>
        <li>Для товаров, у которых истек срок гарантийного обслуживания</li>
      </ul>
    </section>
    <section class="page-section styled-content">
      <p>Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании форм развития.</p>
      <p>Задача организации, в особенности же сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Равным образом укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что новая модель организационной деятельности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.</p>
    </section>

  </div>

</main>

{% endblock %}
