{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
	<div class="wrapper">
		<div class="breadcrumbs">
			<ul class="breadcrumbs-list">
				<li class="breadcrumbs-item">
					<a href="#" class="breadcrumbs-link">Главная</a>
				</li>
				<li class="breadcrumbs-item">
					<a class="breadcrumbs-link">Страница стилей</a>
				</li>
			</ul>
		</div>
		<section class="page-section styled-content">
			<h1>Заголовок H1</h1>
			<div class="lead">
				<h2>Диван угловой Super blue</h2>
				<p>Не следует, однако забывать, что консультация с широким активом позволяет оценить значение
					соответствующий
					условий активизации. Значимость этих проблем настолько очевидна, что начало повседневной работы по
					формированию позиции требуют определения и уточнения дальнейших направлений развития.Не следует,
					однако
					забывать, что консультация с широким активом позволяет оценить значение соответствующий условий
					активизации.
					Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции
					требуют
					определения и уточнения дальнейших направлений развития.</p>
			</div>
			<h2>Заголовок h2</h2>
			<p>Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и
				реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! реализация намеченных
				плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным
				потребностям. Значимость этих проблем настолько очевидна, что консультация с широким активом в
				значительной
				степени обуславливает создание существенных финансовых и административных условий.</p>
			<blockquote class="blockquote">
				<div class="blockquote-content">
					<p class="blockquote-text">
						Под управлением головного предприятия, ООО ВКДП (Волгодонского комбината древесных плит),
						специализирующегося на изготовлении высококачественной экологически чистой древесно-стружечной
						продукции и
						мебели различного назначения...
					</p>
					<cite class="bq-cite">
						<span class="bq-job">Директор</span>
						<span class="bq-author">Иванов Иван Иванович</span>
					</cite>
				</div>
			</blockquote>
			<h3>Заголовок H3</h3>
			<p>Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и
				реализации системы обучения кадров, соответствует насущным потребностям. Товарищи! реализация намеченных
				плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным
				потребностям. Значимость этих проблем настолько очевидна, что консультация с широким активом в
				значительной
				степени обуславливает создание существенных финансовых и административных условий.</p>
			<h4>Заголовок H4</h4>
			<p>Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке
				новых
				предложений. Повседневная практика показывает, что сложившаяся структура организации способствует
				подготовки и
				реализации модели развития.</p>
			<p>Идейные соображения высшего порядка, а также сложившаяся структура организации способствует подготовки и
				реализации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика
				показывает, что
				дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в
				формировании новых предложений</p>
			<p class="small-text">Таким образом реализация намеченных плановых заданий позволяет выполнять важные
				задания по
				разработке новых предложений. Повседневная практика показывает, что сложившаяся структура организации
				способствует подготовки и реализации модели развития. Идейные соображения высшего порядка, а также
				сложившаяся
				структура организации способствует&nbsp;подготовки и реализации позиций, занимаемых участниками в
				отношении
				поставленных задач. Повседневная практика показывает, что дальнейшее развитие различных форм
				деятельности
				обеспечивает широкому кругу (специалистов) участие в формировании новых предложений</p>
			<h3>Маркированный и нумерованный списки</h3>
			<div class="flex-row flex-block-same flex-row-margin flex-row-768-down">
				<div class="flex-col">
					<ul>
						<li>Уже более полувека мебельная компания входит в число бесспорных лидеров рынка, выпуская
							мебель высокого
							качества по доступным ценам. Преимуществом фабрики является возможность осуществления
							полного цикла
							производства от изготовления ЛДСП.</li>
						<li>До создания уникальной по степени комфорта и качества недорогой мебели, за счет современного
							и
							инновационного оборудования. В производстве используются качественные комплектующие из
							Италии и Германии.
							Продажа продукции осуществляется через интернет-магазин и розничные магазины фирменной сети.
						</li>
						<li>Каталог интернет-магазина мебели включает всю производимую фабрикой продукцию. </li>
						<li>Сайт носит исключительно информационный характер и ни при каких условиях не является
							публичной офертой.
							АО МК Шатура оставляет за собой право изменять комплектацию, условия сервиса, цены в любой
							период времени.
							<ul>
								<li>Изображения изделий в каталоге и на сайте, в том числе цвет, рисунок на мебели и
									другие элементы,
									могут отличаться.</li>
								<li>Цена изделий может меняться в зависимости от выбранного региона. </li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="flex-col">
					<ol>
						<li>Ассортимент продукции мебельной фабрики позволяет удовлетворить индивидуальные вкусы каждого
							члена семьи
							и создать уютный интерьер в Вашем доме. Каталог постоянно обновляется с учетом последних
							тенденций
							мебельной моды.</li>
						<li>Модели из прошлых коллекций можно купить недорого благодаря регулярно проводимым акциям, во
							время
							которых скидки бывают довольно значительными. </li>
						<li>Так же по направлению «корпоративные продажи» успешно реализует крупные мебельные проекты
							для офисов.
						</li>
						<li>Если у Вас появились какие-либо вопросы, то менеджеры интернет-магазина ответят на них.
							<ol>
								<li>Если у Вас появились какие-либо вопросы, то менеджеры интернет-магазина ответят на
									них.</li>
								<li>Используются разные варианты отделки и широкую цветовую гамму материалов.</li>
							</ol>
						</li>
					</ol>
				</div>
			</div>
		</section>
		<section class="page-section">
			<h2 class="section-header">Галерея</h2>
			<p class="social-feed-text ">Приезжайте в наши просторные магазины и убедитесь сами,<br>что наша мебель
				действительно стильная и удобная.</p>
			<div class="carousel" style="margin-bottom:40px;">
				<div class="swiper-button-prev">{{mixins.icon('arrow_big_left')}}</div>
				<div class="swiper-button-next">{{mixins.icon('arrow_big_right')}}</div>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll1.jpg"
									srcset="img/img_scroll1@2x.jpg 2x, img/img_scroll1@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll2.jpg"
									srcset="img/img_scroll2@2x.jpg 2x, img/img_scroll2@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll3.jpg"
									srcset="img/img_scroll3@2x.jpg 2x, img/img_scroll3@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll1.jpg"
									srcset="img/img_scroll1@2x.jpg 2x, img/img_scroll1@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll1.jpg"
									srcset="img/img_scroll1@2x.jpg 2x, img/img_scroll1@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll2.jpg"
									srcset="img/img_scroll2@2x.jpg 2x, img/img_scroll2@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll3.jpg"
									srcset="img/img_scroll3@2x.jpg 2x, img/img_scroll3@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="carousel__item">
								<img src="img/img_scroll1.jpg"
									srcset="img/img_scroll1@2x.jpg 2x, img/img_scroll1@3x.jpg 3x" alt="Instagram">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="slider full-width">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x"
								alt="img1"></div>
						<div class="swiper-slide"><img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x"
								alt="img1"></div>
						<div class="swiper-slide"><img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x"
								alt="img1"></div>
					</div>
					<div class="swiper-pagination"></div>

					<div class="swiper-button-prev">{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next">{{mixins.icon('arrow_big_right')}}</div>
				</div>
			</div>
		</section>
	</div>
	<section class="page-section">
		<div class="cat-in cat-in--video">
			<div class="wrapper">
				<div class="cat-in-content full-width">
					<div class="cat-in-info">
						<h2 class="section-header">Видео</h2>
						<p class="cat-in-text">Широкий ассортимент товаров для интерьерных решений от отечественных и
							импортных
							производителей</p>
						<div class="cat-in-action"><a href="#">Подробнее</a></div>
					</div>
					<div class="video-container video">
						<button class="play-button" js-play-next-video></button>
						<video>
							<source src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.webm"
								type="video/webm">
							<source src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.mp4"
								type="video/mp4">
						</video>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="wrapper">
		<section class="page-section">
			<h2 class="section-header">Таблица</h2>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Вид товара</th>
						<th>Стоимость доставки</th>
						<th>Стоимость сборки</th>
						<th>Стоимость установки</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Название категории</td>
						<td>300 Р</td>
						<td>300 Р</td>
						<td>300 Р</td>
					</tr>
					<tr>
						<td>Название категории</td>
						<td>300 Р</td>
						<td>300 Р</td>
						<td>300 Р</td>
					</tr>
					<tr>
						<td>Название категории</td>
						<td>300 Р</td>
						<td>300 Р</td>
						<td>300 Р</td>
					</tr>
					<tr>
						<td>Название категории</td>
						<td>300 Р</td>
						<td>300 Р</td>
						<td>300 Р</td>
					</tr>
					<tr>
						<td>Название категории с&nbsp;очень длинным названием</td>
						<td>300 Р</td>
						<td>300 Р</td>
						<td>300 Р</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section class="page-section">
			<h2 class="section-header">Аккордион</h2>
			<div class="accordion" data-accordion>
				<section class="accordion__section collapsible-closed" data-collapsible>
					<h3>
						<button class="accordion__trigger" data-collapsible-trigger>
							Как долго осуществялется доставка мебели?
							<span class="accordion__icon">{{mixins.icon('collapse')}}</span>
						</button>
					</h3>
					<div class="accordion__body" data-collapsible-body>
						<div class="accordion__content" data-collapsible-inner>
							<p>Каждый товар, купленный у нас, полностью готов к сборке и обязательно снабжен
								инструкцией. Все
								необходимые отверстия уже сделаны производителем. Для самостоятельной сборки вам,
								вероятнее всего,
								понадобится крестовая и шлицевая отвертки, набор шестигранников и молоток.</p>
						</div>
					</div>
				</section>
				<section class="accordion__section collapsible-closed" data-collapsible>
					<h3>
						<button class="accordion__trigger" data-collapsible-trigger>
							Могу ли я самостоятельно собрать купленную мебель?
							<span class="accordion__icon">{{mixins.icon('collapse')}}</span>
						</button>
					</h3>
					<div class="accordion__body" data-collapsible-body>
						<div class="accordion__content" data-collapsible-inner>
							<p>Каждый товар, купленный у нас, полностью готов к сборке и обязательно снабжен
								инструкцией. Все
								необходимые отверстия уже сделаны производителем. Для самостоятельной сборки вам,
								вероятнее всего,
								понадобится крестовая и шлицевая отвертки, набор шестигранников и молоток.</p>
						</div>
					</div>
				</section>
			</div>
		</section>
		<section class="page-section">
			<h2 class="section-header">Табы</h2>
			<div class="tabs js-tabs">
				<ul class="tabs-list">
					<li class="tabs-item">
						<a href="#tab1" class="tabs-link js-tabs-trigger active">Вкладка 1</a>
					</li>
					<li class="tabs-item">
						<a href="#tab2" class="tabs-link js-tabs-trigger">Вкладка 2</a>
					</li>
					<li class="tabs-item">
						<a href="#tab3" class="tabs-link js-tabs-trigger">Вкладка 3</a>
					</li>
				</ul>
				<section class="tabs-content js-tabs-content active" id="tab1">
					<div class="styled-content">
						<h3>Вкладка 1</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum error hic, impedit nemo
							numquam officia
							quas quis temporibus voluptate? A deserunt dicta doloribus eos eum nam nihil non rerum
							totam.</p>
					</div>
				</section>
				<section class="tabs-content js-tabs-content" id="tab2">
					<div class="styled-content">
						<h3>Вкладка 2</h3>
						<p>A deserunt dicta doloribus eos eum nam nihil non rerum totam. Lorem ipsum dolor sit amet,
							consectetur
							adipisicing elit. Earum error hic, impedit nemo numquam officia quas quis temporibus
							voluptate? A deserunt
							dicta doloribus eos eum nam nihil non rerum totam.</p>
						<p>A deserunt dicta doloribus eos eum nam nihil non rerum totam. Lorem ipsum dolor sit amet,
							consectetur
							adipisicing elit. Earum error hic, impedit nemo numquam officia quas quis temporibus
							voluptate? </p>
					</div>
				</section>
				<section class="tabs-content js-tabs-content" id="tab3">
					<div class="styled-content">
						<h3>Вкладка 3</h3>
						<p>Earum error hic, impedit nemo numquam officia quas quis temporibus voluptate? A deserunt
							dicta doloribus
							eos eum nam nihil non rerum totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</div>
				</section>
			</div>
		</section>
		<section class="page-section">
			<h2 class="section-header">Ссылки, кнопки, элементы управления</h2>
			<div class="form-row form-row--hor">
				<a href="#" class="button">Кнопка-ссылка</a>
				<a href="#" class="button">
					<span class="button-text">Кнопка-ссылка</span>
					<svg data-text="Кнопка-ссылка" width="0" height="0"></svg>
				</a>
				<a href="#" class="button button--disabled">Неактивная кнопка-ссылка</a>
				<button class="button">Кнопка</button>
				<button class="button"><span class="button-text">Кнопка</span><svg data-text="Кнопка" width="0" height="0"></svg></button>
				<button class="button" disabled>Неактивная кнопка</button>
			</div>
			<div class="form-row form-row--hor">
				<div style="margin-right: 40px">
					<div class="swiper-button-prev swiper-button-prev--static swiper-button-prev--no-back">
						{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next swiper-button-next--static swiper-button-next--no-back">
						{{mixins.icon('arrow_big_right')}}</div>
				</div>
				<div style="margin-right: 40px">
					<div
						class="swiper-button-prev swiper-button-prev--static swiper-button-disabled swiper-button-prev--no-back">
						{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next swiper-button-next--static swiper-button-next--no-back">
						{{mixins.icon('arrow_big_right')}}</div>
				</div>
				<div style="margin-right: 40px">
					<div class="swiper-button-prev swiper-button-prev--static">{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next swiper-button-next--static">{{mixins.icon('arrow_big_right')}}</div>
				</div>
			</div>
			<div class="form-row">
				<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
					style="position:relative;">
					<span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
					<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
						aria-label="Go to slide 1"></span>
					<span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
					<span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
					<span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
				</div>
			</div>
			<div class="form-row">
				<ul class="pagination-list">
					<li class="pagination-item pagination-item--prev"><a href="#"
							class="pagination-action pagination-action--inactive">{{mixins.icon('arrow_big_left')}}</a>
					</li>
					<li class="pagination-item"><a href="#" class="pagination-link pagination-link--current">1</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">2</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">3</a></li>
					<li class="pagination-item">...</li>
					<li class="pagination-item"><a href="#" class="pagination-link">13</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">14</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">15</a></li>
					<li class="pagination-item pagination-item--next"><a href="#"
							class="pagination-action">{{mixins.icon('arrow_big_right')}}</a></li>
				</ul>
			</div>
			<div class="form-row">
				<ul class="pagination-list">
					<li class="pagination-item pagination-item--prev"><a href="#"
							class="pagination-action">{{mixins.icon('arrow_big_left')}}</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">1</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link pagination-link--current">2</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">3</a></li>
					<li class="pagination-item">...</li>
					<li class="pagination-item"><a href="#" class="pagination-link">13</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">14</a></li>
					<li class="pagination-item"><a href="#" class="pagination-link">15</a></li>
					<li class="pagination-item pagination-item--next"><a href="#"
							class="pagination-action">{{mixins.icon('arrow_big_right')}}</a></li>
				</ul>
			</div>
			<div class="form-row">
				<div class="filter-results-refresh">
					<a href="#">{{mixins.icon('refresh')}}</a>
				</div>
			</div>
			<p>
				<a class="link-button" href="#">Ссылка 1</a>
			</p>
			<a class="trigger-dropdown" href="#"><span class="trigger-dropdown-text">Ссылка-выпадашка <span
						class="ld-icon">{{mixins.icon('dropdown_link')}}</span></span></a>
			<a class="trigger-dropdown active" href="#"><span class="trigger-dropdown-text">Ссылка-выпадашка выбранная
					<span class="ld-icon">{{mixins.icon('dropdown_link')}}</span></span></a>
			<p>
			</p>
			<a href="#" class="link">Ссылка 3</a>
		</section>
		<section class="page-section">
			<h2 class="section-header">Формы, элементы форм</h2>
			<form action="">
				<div class="form-row form-row--hor" style="align-items: flex-start;">
					<div style="min-width: 40%;margin-right: 30px">
						<div class="form-row">
							<label for="inp1" class="form-label">Поле ввода</label>
							<input class="form-input" type="text" name="text" id="inp1">
						</div>
						<div class="form-row">
							<label for="inp3" class="form-label">Поле ввода с плейсхолдером</label>
							<input class="form-input" type="text" name="text" id="inp3" placeholder="Введите имя">
						</div>
						<div class="form-row">
							<label for="inp3" class="form-label">Поле ввода</label>
							<select name="" id="" data-placeholder="Поле ввода с подсказкой">
								<option value=""></option>
								<option value="1">Водный стадион</option>
								<option value="2">Водный стадион</option>
								<option value="3">Водный стадион</option>
								<option value="4">Водный стадион</option>
								<option value="5">Водный стадион</option>
							</select>
						</div>
						<div class="form-row form-row--invalid">
							<label for="inp2" class="form-label">E-mail</label>
							<input class="form-input form-input--invalid" type="email" name="text" id="inp2"
								value="Дмитрий">
							<div class="form-error">Ошибка в поле</div>
						</div>
						<div class="form-row">
							<label for="inp4" class="form-label">Многострочное поле</label>
							<textarea name="text1" id="inp4" class="form-input"></textarea>
						</div>
					</div>
					<div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="checkbox" name="check" id="check1" />
								<label for="check1">Чекбокс</label>
							</div>
						</div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="checkbox" name="check" id="check2" disabled />
								<label for="check2">Неактивный чекбокс</label>
							</div>
						</div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="checkbox" name="check" id="check3" disabled checked />
								<label for="check3">Неактивный выбранный чекбокс</label>
							</div>
						</div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="radio" name="radio" id="radio1" />
								<label for="radio1">Радиокнопка</label>
							</div>
						</div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="radio" name="radio" id="radio2" />
								<label for="radio2">Радиокнопка</label>
							</div>
						</div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="radio" disabled name="radio3" id="radio9" />
								<label for="radio9">Радиокнопка недоступна</label>
							</div>
						</div>
						<div class="form-row form-row--checkbox">
							<div class="form-checkbox">
								<input type="radio" name="radio3" id="radio10" checked disabled />
								<label for="radio10">Радиокнопка выбрана и недоступна</label>
							</div>
						</div>
					</div>
				</div>


				<h3>Чекбоксы в строчку</h3>
				<div class="form-row form-row--checkbox">
					<div class="form-checkbox">
						<input type="checkbox" name="check" id="check5" />
						<label for="check5">Чекбокс 1</label>
					</div>
					<div class="form-checkbox">
						<input type="checkbox" name="check" id="check6" />
						<label for="check6">Чекбокс 2</label>
					</div>
					<div class="form-checkbox">
						<input type="checkbox" name="check" id="check7" />
						<label for="check7">Чекбокс 3</label>
					</div>
				</div>

				<h3>Радиокнопки в строчку</h3>
				<div class="form-row form-row--checkbox">
					<div class="form-checkbox">
						<input type="radio" name="radio2" id="radio3" />
						<label for="radio3">Радиокнопка</label>
					</div>
					<div class="form-checkbox">
						<input type="radio" name="radio2" id="radio4" />
						<label for="radio4">Радиокнопка</label>
					</div>
					<div class="form-checkbox">
						<input type="radio" name="radio2" id="radio5" />
						<label for="radio5">Радиокнопка</label>
					</div>
				</div>
			</form>
		</section>
		<section class="page-section">
			<h2 class="section-header">Результаты поиска</h2>
			<form action="" class="search-form">
				<input type="text" class="search-input" placeholder="Поиск">
				<button type="submit" class="search-submit">{{mixins.icon('search')}}</button>
			</form>
			<div class="search-results">
				<div class="search-results-count">Найдено 26 результатов</div>
				<ul class="search-results-list">
					<li class="search-results-item">
						<div class="search-results-header">
							<a class="link-type1" href="#">Сотрудничество</a>
						</div>
						<div class="search-results-content">
							Главное не волноваться. Просто позвоните нам, и мы обязательно все исправим. Мы в кратчайшие
							сроки заменим
							бракованные детали, либо, если замена невозможна, произведем возврат товара с полным
							возмещением стоимости
							оказанных нами услуг. При обнаружении брака мы будем очень признательны, если вы <span
								class="sel">шкаф
								прямой</span> пришлете нам фотографии с изображением дефектов. Это поможет существенно
							сократить время
							на обработку и устранение проблемы.
						</div>
						<div class="search-results-action">
							<a class="link-button" href="#">Подробнее</a>
						</div>
					</li>
					<li class="search-results-item">
						<div class="search-results-header">
							<a class="link-type1" href="#">О нас</a>
						</div>
						<div class="search-results-content">
							Все зависит от выбранного товара. <span class="sel">Шкаф прямой</span> некоторые товары мы
							сможем
							доставить уже на следующий день, если заказ оформлен до 12 часов дня, в то время как
							доставка других
							товаров может достигать 7 и более дней. Ближайшую дату доставки понравившегося товара вы
							можете узнать у
							наших менеджеров.
						</div>
						<div class="search-results-action">
							<a class="link-button" href="#">Подробнее</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="page-section">
			<h2 class="section-header">Файл</h2>
			<ul class="files-list">
				<li class="files-item">
					<a href="/" class="download-doc">
						<span class="download-doc-icon">{{mixins.icon('file')}}</span>
						<div class="download-doc-info">
							<span class="download-doc-name">Каталог продукции с очень длинным названием</span>
							<span class="download-doc-meta">Файл PDF (1.3 Mb) </span>
						</div>
					</a>
				</li>
				<li class="files-item">
					<a href="/" class="download-doc">
						<span class="download-doc-icon">{{mixins.icon('file')}}</span>
						<div class="download-doc-info">
							<span class="download-doc-name">Каталог продукции с очень длинным названием</span>
							<span class="download-doc-meta">DOC, 809 КБ, 2 сентября 2017 в 2:05 </span>
						</div>
					</a>
				</li>
			</ul>
		</section>
	</div>
</main>

{% endblock %}