{% set menuCollapsed=true %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
	<div class="wrapper">
		<div class="breadcrumbs">
			<ul class="breadcrumbs-list">
				<li class="breadcrumbs-item">
					<a href="#" class="breadcrumbs-link">Главная</a>
				</li>
				<li class="breadcrumbs-item">
					<a href="#" class="breadcrumbs-link">Сотрудничество</a>
				</li>
				<li class="breadcrumbs-item">
					<a class="breadcrumbs-link">Дизайнерам</a>
				</li>
			</ul>
		</div>
		<h1 class="page-header">Дизайнерам</h1>
		<nav class="page-subnav">
			<ul class="page-subnav-list">
				<li class="page-subnav-list-item">
					<a href="#" class="page-subnav-link">Сотрудничество</a>
				</li>
				<li class="page-subnav-list-item">
					<a class="page-subnav-link">Дизайнерам</a>
				</li>
				<li class="page-subnav-list-item">
					<a href="#" class="page-subnav-link">Поставщикам</a>
				</li>
				<li class="page-subnav-list-item">
					<a href="#" class="page-subnav-link">Оптовикам</a>
				</li>
				<li class="page-subnav-list-item">
					<a href="#" class="page-subnav-link">Карьера</a>
				</li>
			</ul>
		</nav>
		<section class="promo-section promo-section--cooperation full-width">
			<picture class="full-width-picture">
				<img src="img/cooperation.jpg" />
			</picture>
			<div class="promo-description">
				<h2 class="h1 section-header promo-section-header">Дизайнерам</h2>
				<p class="promo-section-text">Идейные соображения высшего порядка, а также постоянный количественный
					рост и сфера нашей активности требуют определения и уточнения дальнейших </p>

			</div>
		</section>
		<section class="page-section partner-benefits">
			<h2 class="h1">Наши партнеры получают&nbsp;от&nbsp;нас</h2>
			<div class="cards-container">
				<div class="row">
					<div class="benefit-card">
						<div class="b-container">
							<img src="img/benefit-img1.jpg" />
							<p>Преимущество для дизайнера 1</p>
						</div>
					</div>
					<div class="benefit-card">
						<div class="b-container">
							<img src="img/benefit-img2.jpg" />
							<p>Преимущество для дизайнера 2</p>
						</div>
					</div>
					<div class="benefit-card">
						<div class="b-container">
							<img src="img/benefit-img3.jpg" />
							<p>Преимущество для дизайнера 3</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="benefit-card">
						<div class="b-container">
							<img src="img/benefit-img4.jpg" />
							<p>Преимущество для дизайнера 4</p>
						</div>
					</div>
					<div class="benefit-card">
						<div class="b-container">
							<img src="img/benefit-img5.jpg" />
							<p>Преимущество для дизайнера 5</p>
						</div>
					</div>
					<div class="benefit-card">
						<div class="b-container">
							<img src="img/benefit-img6.jpg" />
							<p>Преимущество для дизайнера 6</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="designer-block section-margin">
			<div class="row">
				<div class="row-box-2-5 flex-container flex-middle">
					<ul class="list-post">
						<li>
							<h3>Создавайте собственный дизайн</h3>
							<div class="row-box-2-5 flex-container flex-middle hidden-desktop">
								<img src="img/loyalty.jpg" alt="">
							</div>
							<p>Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени
								обуславливает создание модели развития. Равным образом новая модель организационной
								деятельности в значительной степени обуславливает создание форм развития.</p>
						</li>
					</ul>
				</div>
				<div class="row-box-3-5 hidden-mobile">
					<img src="img/loyalty.jpg" alt="">
				</div>
			</div>
			<div class="row">
				<div class="row-box-3-5 hidden-mobile">
					<img src="img/loyalty.jpg" alt="">
				</div>
				<div class="row-box-2-5 flex-container flex-middle">
					<ul class="list-post">
						<li>
							<h3>Создавайте собственный дизайн</h3>
							<div class="row-box-2-5 flex-container flex-middle hidden-desktop">
								<img src="img/loyalty.jpg" alt="">
							</div>
							<p>Товарищи! постоянный количественный рост и сфера нашей активности в значительной степени
								обуславливает создание модели развития. Равным образом новая модель организационной
								деятельности в значительной степени обуславливает создание форм развития.</p>
						</li>
					</ul>
				</div>

			</div>
		</section>

		<section class="page-section section-margin">
			<div class="detailed-info-block">
				<div class="f-col">
					<h2 class="h1">Более подробную информацию мы направим вам на почту!</h2>
					<p>С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют
						от нас анализа систем массового участия.</p>
				</div>
				<div class="f-col">
					<a data-fancybox data-src="#back-message" href="javascript:;" class="button"><span class="button-text">Обратная связь</span><svg data-text="Обратная связь" width="0" height="0"></svg></a>
				</div>
			</div>
		</section>
	</div>
</main>

{% endblock %}