{% set menuCollapsed=true %}

{% extends "layouts/_layout.html" %}

{% block content %}

<main class="site-inner">
	<div class="wrapper">
		<div class="breadcrumbs">
			<ul class="breadcrumbs-list">
				<li class="breadcrumbs-item">
					<a href="#" class="breadcrumbs-link">Главная</a>
				</li>
				<li class="breadcrumbs-item">
					<a href="#" class="breadcrumbs-link">Статьи</a>
				</li>
				<li class="breadcrumbs-item">
					<a class="breadcrumbs-link">Страница статьи</a>
				</li>
			</ul>
		</div>
		<h1 class="page-header">Страница статьи</h1>

		<section class="promo-section promo-section--article full-width">
			<div class="action-date__year">
				02.04.2010
			</div>
			<picture class="full-width-picture">
				<img src="img/cooperation.jpg" />
			</picture>
		</section>

		<section class="page-section">
			<p>Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и
				уточнения форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по
				формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и
				административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает
				широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом реализация
				намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и
				административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных
				форм деятельности позволяет выполнять важные задания по разработке новых предложений.</p>
			<p>Задача организации, в особенности же начало повседневной работы по формированию позиции требуют
				определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Повседневная
				практика показывает, что сложившаяся структура организации играет важную роль в формировании позиций,
				занимаемых участниками в отношении поставленных задач. С другой стороны укрепление и развитие структуры
				представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении
				поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой
				процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Равным
				образом рамки и место обучения кадров позволяет выполнять важные задания по разработке модели развития.
			</p>
		</section>

		<section class="page-section article-images">
			<div class="slider full-width">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x" alt="img1">
							<div class="tooltips-container">
								<button class="tooltip-button" style="top: 0; left: 100px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
								<button class="tooltip-button" style="top: 340px; left: 600px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x" alt="img1">
							<div class="tooltips-container">
								<button class="tooltip-button" style="top: 350px; left: 100px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
								<button class="tooltip-button" style="top: 340px; left: 600px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x" alt="img1">
							<div class="tooltips-container">
								<button class="tooltip-button" style="top: 350px; left: 100px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
								<button class="tooltip-button" style="top: 340px; left: 600px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>

					<div class="swiper-button-prev">{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next">{{mixins.icon('arrow_big_right')}}</div>
				</div>
			</div>

		</section>

		<section class="page-section">
			<p>Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и
				уточнения форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по
				формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и
				административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает
				широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом реализация
				намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и
				административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных
				форм деятельности позволяет выполнять важные задания по разработке новых предложений.</p>
			<p>Задача организации, в особенности же начало повседневной работы по формированию позиции требуют
				определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Повседневная
				практика показывает, что сложившаяся структура организации играет важную роль в формировании позиций,
				занимаемых участниками в отношении поставленных задач. С другой стороны укрепление и развитие структуры
				представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении
				поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой
				процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Равным
				образом рамки и место обучения кадров позволяет выполнять важные задания по разработке модели развития.
			</p>
		</section>

		<section class="page-section article-images">
			<div class="slider full-width">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x" alt="img1">
							<div class="tooltips-container">
								<button class="tooltip-button" style="top: 350px; left: 100px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
								<button class="tooltip-button" style="top: 340px; left: 600px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x" alt="img1">
							<div class="tooltips-container">
								<button class="tooltip-button" style="top: 350px; left: 100px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
								<button class="tooltip-button" style="top: 340px; left: 600px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="img/img_slider.jpg" srcset="img/img_slider@2x.jpg 2x" alt="img1">
							<div class="tooltips-container">
								<button class="tooltip-button" style="top: 350px; left: 100px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
								<button class="tooltip-button" style="top: 340px; left: 600px;">
									<svg fill="none">
										<use xlink:href="img/sprite.svg#icon-tooltip-eye"></use>
									</svg>
									<a class="tooltip flex-col" href="#">
										<div class="flex-row">
											<div class="type">диван</div>
											<div class="discount">-10%</div>
										</div>
										<div class="flex-row">
											<h2 class="h1 header">Verona Denim Blue</h2>
										</div>
										<div class="arrow"></div>
									</a>
								</button>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>

					<div class="swiper-button-prev">{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next">{{mixins.icon('arrow_big_right')}}</div>
				</div>
			</div>

		</section>

		<section class="page-section">
			<p>Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и
				уточнения форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по
				формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и
				административных условий. Таким образом начало повседневной работы по формированию позиции обеспечивает
				широкому кругу (специалистов) участие в формировании систем массового участия. Таким образом реализация
				намеченных плановых заданий в значительной степени обуславливает создание существенных финансовых и
				административных условий. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных
				форм деятельности позволяет выполнять важные задания по разработке новых предложений.</p>
			<p>Задача организации, в особенности же начало повседневной работы по формированию позиции требуют
				определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Повседневная
				практика показывает, что сложившаяся структура организации играет важную роль в формировании позиций,
				занимаемых участниками в отношении поставленных задач. С другой стороны укрепление и развитие структуры
				представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении
				поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой
				процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Равным
				образом рамки и место обучения кадров позволяет выполнять важные задания по разработке модели развития.
			</p>
		</section>

		<section class="social-link">
			<hr>
			<div class="flex-col">
				<div class="footer-socials">
					<p>Поделиться</p>
					<ul class="footer-socials-list">
						<li class="footer-socials-item">
							<a href="#" class="footer-socials-link">{{mixins.icon('vk')}}</a>
						</li>
						<li class="footer-socials-item">
							<a href="#" class="footer-socials-link">{{mixins.icon('fb')}}</a>
						</li>
						<li class="footer-socials-item">
							<a href="#" class="footer-socials-link">{{mixins.icon('ok')}}</a>
						</li>
						<li class="footer-socials-item">
							<a href="#" class="footer-socials-link">{{mixins.icon('twitter')}}</a>
						</li>
					</ul>
				</div>
			</div>

		</section>

		<section class="page-section section-margin">
			<h2 class="section-header">Товары из статьи</h2>
			{% include "partials/_cards_3col.html" %}
		</section>

		<section class="page-section article-gallery no-margin-section">
			<div class="cards-gallery">
				<h2 class="section-header">Вам будет интересно</h2>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide active">
							{% include "partials/_articles_2col.html" %}
						</div>
						<div class="swiper-slide">
							{% include "partials/_articles_2col.html" %}
						</div>
						<div class="swiper-slide">
							{% include "partials/_articles_2col.html" %}
						</div>
					</div>
					<div class="swiper-button-prev">{{mixins.icon('arrow_big_left')}}</div>
					<div class="swiper-button-next">{{mixins.icon('arrow_big_right')}}</div>
				</div>
			</div>
		</section>

		<section class="page-section">
			<div class="detailed-info-block info-articles">
				<form action="./data/subscribe.json" class="js-form" data-success="this">
					<div class="f-col">
						<p>Подпишитесь на рассылку информационных материалов!</p>
					</div>
					<div class="f-col">
						<div class="form-row">
							<input class="form-input" type="text" name="email" id="email" placeholder="E-mail" required>
							<div class="form-checkbox">
								<input type="checkbox" name="approve-check4" id="approve-check4" required>
								<label for="approve-check4">я ознакомлен и согласен <a href="#" class="link-button">«C
										условиями сбора и обработки персональных данных».</a></label>
							</div>
						</div>
					</div>
					<div class="f-col">
						<button type="submit" class="button"><span class="button-text">Подписаться</span><svg data-text="Подписаться" width="0" height="0"></svg></button>
					</div>
					<div class="detailed-info-block-success">
						<div class="detailed-info-block-success-text js-form-success-text"></div>
					</div>
				</form>
			</div>
		</section>

	</div>

</main>
{% include "partials/_popup_quick_view.html" %}
{% endblock %}