.partner-provider {
    .row {
        padding: 0 !important;
        &.row-grid2 {
            margin-bottom: 35px;
        > .row-box {
                img {
                    max-width: 100%;
                }
                &.box-transparent {
                    background: transparent;
                    padding: 0;
                    ul {
                        list-style-type: inherit;
                        padding-left: 25px;
                        
                    }
                }

                @media (min-width: $sm) {
                    width: 50% !important;
                }
            }
        }

        @media (max-width: $sm - 1) {
            display: block;
        }
    }
}
.check-list {
    list-style-type: inherit;
    padding-left: 15px;
    > li {
        margin-bottom: 25px;
    }
}
