<div class="b-item">
    <a href="#"><img src="./img/b-img1.jpg"/></a>
    <div class="bi-content">
        <h3 class="bic-header"><a href="#">Диван Марсель прямой</a></h3>
        <div class="bic-details">
            <div class="bicd-col">
                <span>Наличие</span>
                <span>Размеры</span>
                <span>Спальное место</span>
            </div>
            <div class="bicd-col">
                <span>в Хабаровске</span>
                <span>1200 × 2190 × 420 мм</span>
                <span>1100 × 2090 × 320 мм</span>
            </div>
            <div class="bicd-col">
                <div class="bicd-counter">
                    <span class="bidc-minus">-</span>
                    <span class="bidc-number">2</span>
                    <span class="bidc-plus">+</span>
                </div>
                <div class="bicd-price">
                    <h1 class="bicdp-summ">49 980 р.</h1>
                    <p class="bicdp-comments">
                        Стоимость за шт. 24 990 р.<br>
                        Сборка от 390 р.
                    </p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1">Необходима сборка</label>
        </div>
    </div>
    <span class="bi-close"></span>
</div>