<div class="cards cards--3col">
	<article class="card">
		<ul class="card-tags">
			<li class="card-tag">Акция</li>
			<li class="card-tag">New</li>
		</ul>
		<div class="card-image">
			<img src="./img/card-img.png" alt="image">

		</div>
		<div class="card-name flex-col">
			<span class="item-text1 flex-row">кресло</span>
			<span class="item-name flex-row">Ультра</span>
		</div>
		<div class="card-presence card-presence--to-order flex-col">
			<span class="item-text2 flex-row">Доступен к заказу</span>
			<span class="item-text3 flex-row">C доставкой через 30 дней до Хабаровска</span>
		</div>
		<div class="card-price">
			<div class="item-price-out">
				<span class="item-sale">-10%</span>
				<span class="item-old-price">25&nbsp;900&nbsp;р.</span>
			</div>
			<span class="item-price">24&nbsp;900&nbsp;р.</span>
		</div>

		<a href="#" class="card-hover">
			<ul class="card-tags">
				<li class="card-tag">Акция</li>
				<li class="card-tag">New</li>
			</ul>
			<div class="card-image">
				<img src="./img/card-img.png" alt="image">
				<button data-fancybox data-src="#popup-quick-view" href="javascript:;" class="quick-button">Быстрый
					просмотр</button>
			</div>
			<div class="card-name flex-col">
				<span class="item-text1 flex-row">кресло</span>
				<span class="item-name flex-row">Ультра</span>
			</div>
			<div class="card-presence card-presence--to-order flex-col">
				<span class="item-text2 flex-row">Доступен к заказу</span>
				<span class="item-text3 flex-row">C доставкой через 30 дней до Хабаровска</span>
			</div>
			<div class="card-price">
				<div class="item-price-out">
					<span class="item-sale">-10%</span>
					<span class="item-old-price">25&nbsp;900&nbsp;р.</span>
				</div>
				<span class="item-price">24&nbsp;900&nbsp;р.</span>
			</div>
			<div class="card-info">
				<div class="item-info-row">
					<div class="iir-left item-text2">Размеры</div>
					<div class="iir-right">
						<div class="iir-col">
							<span class="item-text2">1200</span>
							<span class="item-text3">д</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">2190</span>
							<span class="item-text3">ш</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">420</span>
							<span class="item-text3">в</span>
						</div>
					</div>
				</div>
				<div class="item-info-row">
					<div class="iir-left item-text2">Спальное место</div>
					<div class="iir-right">
						<div class="iir-col">
							<span class="item-text2">1100</span>
							<span class="item-text3">д</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">2090</span>
							<span class="item-text3">ш</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">320</span>
							<span class="item-text3">в</span>
						</div>
					</div>
				</div>
			</div>
			<div class="card-action">
				<button class="button" data-fancybox data-src="#add-to-basket"><span class="button-text">Купить</span><svg data-text="Купить" width="0" height="0"></svg></button>
			</div>
			<div class="card-fav">
				<button class="button-icon js-add-to-fav"><i class="icon-heart"></i><span class="button-icon-text" data-on="В избранном" data-off="Добавить в избранное">Добавить в избранное</span></button>
				<button class="button-icon js-add-to-fav">{{mixins.icon('compare')}}<span class="button-icon-text" data-on="В сравнении" data-off="Добавить в сравнение">Добавить в сравнение</span></button>
			</div>
		</a>

		<div class="card-action">
			<button class="button" data-fancybox data-src="#add-to-basket"><span class="button-text">Купить</span><svg data-text="Купить" width="0" height="0"></svg></button>
		</div>
		<div class="card-fav">
			<button class="button-icon js-add-to-fav"><i class="icon-heart"></i><span class="button-icon-text" data-on="В избранном" data-off="Добавить в избранное">Добавить в избранное</span></button>
			<button class="button-icon js-add-to-fav">{{mixins.icon('compare')}}<span class="button-icon-text" data-on="В сравнении" data-off="Добавить в сравнение">Добавить в сравнение</span></button>
		</div>
	</article>
	<article class="card">
		<ul class="card-tags">
			<li class="card-tag">Акция</li>
			<li class="card-tag">New</li>
		</ul>
		<div class="card-image"><img src="./img/card-img.png" alt="image"></div>
		<div class="card-name flex-col">
			<span class="item-text1 flex-row">кресло</span>
			<span class="item-name flex-row">Ультра</span>
		</div>
		<div class="card-presence card-presence--to-order flex-col">
			<span class="item-text2 flex-row">Доступен к заказу</span>
			<span class="item-text3 flex-row">C доставкой через 30 дней до Хабаровска</span>
		</div>
		<div class="card-price">
			<div class="item-price-out">
				<span class="item-sale">-10%</span>
				<span class="item-old-price">25&nbsp;900&nbsp;р.</span>
			</div>
			<span class="item-price">24&nbsp;900&nbsp;р.</span>
		</div>

		<a href="#" class="card-hover">
			<ul class="card-tags">
				<li class="card-tag">Акция</li>
				<li class="card-tag">New</li>
			</ul>
			<div class="card-image">
				<img src="./img/card-img.png" alt="image">
				<button data-fancybox data-src="#popup-quick-view" href="javascript:;" class="quick-button">Быстрый
					просмотр</button>
			</div>
			<div class="card-name flex-col">
				<span class="item-text1 flex-row">кресло</span>
				<span class="item-name flex-row">Ультра</span>
			</div>
			<div class="card-presence card-presence--to-order flex-col">
				<span class="item-text2 flex-row">Доступен к заказу</span>
				<span class="item-text3 flex-row">C доставкой через 30 дней до Хабаровска</span>
			</div>
			<div class="card-price">
				<div class="item-price-out">
					<span class="item-sale">-10%</span>
					<span class="item-old-price">25&nbsp;900&nbsp;р.</span>
				</div>
				<span class="item-price">24&nbsp;900&nbsp;р.</span>
			</div>
			<div class="card-info">
				<div class="item-info-row">
					<div class="iir-left item-text2">Размеры</div>
					<div class="iir-right">
						<div class="iir-col">
							<span class="item-text2">1200</span>
							<span class="item-text3">д</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">2190</span>
							<span class="item-text3">ш</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">420</span>
							<span class="item-text3">в</span>
						</div>
					</div>
				</div>
				<div class="item-info-row">
					<div class="iir-left item-text2">Спальное место</div>
					<div class="iir-right">
						<div class="iir-col">
							<span class="item-text2">1100</span>
							<span class="item-text3">д</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">2090</span>
							<span class="item-text3">ш</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">320</span>
							<span class="item-text3">в</span>
						</div>
					</div>
				</div>
			</div>
			<div class="card-action">
				<button class="button" data-fancybox data-src="#order-goods"><span class="button-text">Заказать</span><svg data-text="Заказать" width="0" height="0"></svg></button>
			</div>
			<div class="card-fav">
				<button class="button-icon js-add-to-fav"><i class="icon-heart"></i><span class="button-icon-text" data-on="В избранном" data-off="Добавить в избранное">Добавить в избранное</span></button>
				<button class="button-icon js-add-to-fav">{{mixins.icon('compare')}}<span class="button-icon-text" data-on="В сравнении" data-off="Добавить в сравнение">Добавить в сравнение</span></button>
			</div>
		</a>

		<div class="card-action">
			<button class="button" data-fancybox data-src="#order-goods"><span class="button-text">Заказать</span><svg data-text="Заказать" width="0" height="0"></svg></button>
		</div>
		<div class="card-fav">
			<button class="button-icon js-add-to-fav"><i class="icon-heart"></i><span class="button-icon-text" data-on="В избранном" data-off="Добавить в избранное">Добавить в избранное</span></button>
			<button class="button-icon js-add-to-fav">{{mixins.icon('compare')}}<span class="button-icon-text" data-on="В сравнении" data-off="Добавить в сравнение">Добавить в сравнение</span></button>
		</div>
	</article>
	<article class="card">
		<ul class="card-tags">
			<li class="card-tag">Акция</li>
			<li class="card-tag">New</li>
		</ul>
		<div class="card-image"><img src="./img/card-img.png" alt="image"></div>
		<div class="card-name flex-col">
			<span class="item-text1 flex-row">кресло</span>
			<span class="item-name flex-row">Ультра</span>
		</div>
		<div class="card-presence card-presence--to-order flex-col">
			<span class="item-text2 flex-row">Доступен к заказу</span>
			<span class="item-text3 flex-row">C доставкой через 30 дней до Хабаровска</span>
		</div>
		<div class="card-price">
			<div class="item-price-out">
				<span class="item-sale">-10%</span>
				<span class="item-old-price">25&nbsp;900&nbsp;р.</span>
			</div>
			<span class="item-price">24&nbsp;900&nbsp;р.</span>
		</div>

		<a href="#" class="card-hover">
			<ul class="card-tags">
				<li class="card-tag">Акция</li>
				<li class="card-tag">New</li>
			</ul>
			<div class="card-image">
				<img src="./img/card-img.png" alt="image">
				<button data-fancybox data-src="#popup-quick-view" href="javascript:;" class="quick-button">Быстрый
					просмотр</button>
			</div>
			<div class="card-name flex-col">
				<span class="item-text1 flex-row">кресло</span>
				<span class="item-name flex-row">Ультра</span>
			</div>
			<div class="card-presence card-presence--to-order flex-col">
				<span class="item-text2 flex-row">Доступен к заказу</span>
				<span class="item-text3 flex-row">C доставкой через 30 дней до Хабаровска</span>
			</div>
			<div class="card-price">
				<div class="item-price-out">
					<span class="item-sale">-10%</span>
					<span class="item-old-price">25&nbsp;900&nbsp;р.</span>
				</div>
				<span class="item-price">24&nbsp;900&nbsp;р.</span>
			</div>
			<div class="card-info">
				<div class="item-info-row">
					<div class="iir-left item-text2">Размеры</div>
					<div class="iir-right">
						<div class="iir-col">
							<span class="item-text2">1200</span>
							<span class="item-text3">д</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">2190</span>
							<span class="item-text3">ш</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">420</span>
							<span class="item-text3">в</span>
						</div>
					</div>
				</div>
				<div class="item-info-row">
					<div class="iir-left item-text2">Спальное место</div>
					<div class="iir-right">
						<div class="iir-col">
							<span class="item-text2">1100</span>
							<span class="item-text3">д</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">2090</span>
							<span class="item-text3">ш</span>
						</div>
						<div class="iir-col">
							<span class="item-text2">320</span>
							<span class="item-text3">в</span>
						</div>
					</div>
				</div>
			</div>
			<div class="card-action">
				<button class="button" data-fancybox data-src="#order-goods"><span class="button-text">Заказать</span><svg data-text="Заказать" width="0" height="0"></svg></button>
			</div>
			<div class="card-fav">
				<button class="button-icon js-add-to-fav"><i class="icon-heart"></i><span class="button-icon-text" data-on="В избранном" data-off="Добавить в избранное">Добавить в избранное</span></button>
				<button class="button-icon js-add-to-fav">{{mixins.icon('compare')}}<span class="button-icon-text" data-on="В сравнении" data-off="Добавить в сравнение">Добавить в сравнение</span></button>
			</div>
		</a>

		<div class="card-action">
			<button class="button" data-fancybox data-src="#order-goods"><span class="button-text">Заказать</span><svg data-text="Заказать" width="0" height="0"></svg></button>
		</div>
		<div class="card-fav">
			<button class="button-icon js-add-to-fav"><i class="icon-heart"></i><span class="button-icon-text" data-on="В избранном" data-off="Добавить в избранное">Добавить в избранное</span></button>
			<button class="button-icon js-add-to-fav">{{mixins.icon('compare')}}<span class="button-icon-text" data-on="В сравнении" data-off="Добавить в сравнение">Добавить в сравнение</span></button>
		</div>
	</article>
</div>