.tabs-list {
	display: flex;
	border-bottom: 1px solid $cMediumGrey;
	overflow: hidden;

	@media (max-width: $sm - 1) {
		display: block;
		overflow: auto;
		margin: 0 -15px;
		padding: 0 15px;
		white-space: nowrap;
	}
}

.tabs-item {
	+ .tabs-item {
		margin-left: 14px;

		@media (max-width: $sm - 1) {
			margin-left: 8px;
		}
	}

	@media (max-width: $sm - 1) {
		display: inline-block;
		vertical-align: bottom;
	}
}

a.tabs-link {
	padding: 30px 22px;
	display: block;
	font-family: Gilroy-Medium, Arial, sans-serif;
	font-size: 20px;
	line-height: 20px;
	transition: color .3s, border-color .3s;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
	
	@media (max-width: $sm) {
		font-size: 14px;
		padding: 15px;
	}

	&:hover {
		border-bottom: 2px solid $cOrange;
	}

	&.active {
		cursor: default;
		border-bottom: 2px solid $cOrange;
		&:hover {
		border-bottom: 2px solid $cOrange;
		}
	}
}

.tabs-content {
	padding-top: 40px;
	padding-bottom: 32px;
}

.tabs-content {
	display: none;

	&.active {
		display: block;
	}
}
