.icon-arrow_big_left {
  width: 0.52em;
  height: 1em;
  fill: transparent;
}
.icon-arrow_big_right {
  width: 0.52em;
  height: 1em;
  fill: transparent;
}
.icon-black_cat {
  width: 1.5em;
  height: 1em;
  fill: #4D4A2F;
}
.icon-catalog1 {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-catalog10 {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-catalog11 {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-catalog12 {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-catalog13 {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-catalog14 {
  width: 1.81em;
  height: 1em;
  fill: initial;
}
.icon-catalog15 {
  width: 1.92em;
  height: 1em;
  fill: initial;
}
.icon-catalog16 {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.icon-catalog17 {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.icon-catalog18 {
  width: 1.19em;
  height: 1em;
  fill: initial;
}
.icon-catalog19 {
  width: 2.12em;
  height: 1em;
  fill: initial;
}
.icon-catalog2 {
  width: 2.3em;
  height: 1em;
  fill: initial;
}
.icon-catalog20 {
  width: 0.65em;
  height: 1em;
  fill: initial;
}
.icon-catalog21 {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-catalog22 {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-catalog23 {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-catalog24 {
  width: 0.77em;
  height: 1em;
  fill: initial;
}
.icon-catalog25 {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-catalog26 {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-catalog27 {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-catalog28 {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
.icon-catalog29 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog3 {
  width: 1.97em;
  height: 1em;
  fill: initial;
}
.icon-catalog30 {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.icon-catalog31 {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-catalog32 {
  width: 1.54em;
  height: 1em;
  fill: initial;
}
.icon-catalog33 {
  width: 0.74em;
  height: 1em;
  fill: initial;
}
.icon-catalog34 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog35 {
  width: 2.27em;
  height: 1em;
  fill: initial;
}
.icon-catalog36 {
  width: 1.55em;
  height: 1em;
  fill: initial;
}
.icon-catalog37 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog38 {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-catalog39 {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-catalog4 {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-catalog40 {
  width: 1.81em;
  height: 1em;
  fill: initial;
}
.icon-catalog41 {
  width: 1.96em;
  height: 1em;
  fill: #fff;
}
.icon-catalog42 {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-catalog5 {
  width: 1.79em;
  height: 1em;
  fill: initial;
}
.icon-catalog6 {
  width: 1.35em;
  height: 1em;
  fill: initial;
}
.icon-catalog7 {
  width: 0.72em;
  height: 1em;
  fill: initial;
}
.icon-catalog8 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog9 {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-collapse {
  width: 1.8em;
  height: 1em;
  fill: transparent;
}
.icon-compare {
  width: 1.04em;
  height: 1em;
  fill: #4D4A2F;
}
.icon-dropdown_link {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-dropdown_medium {
  width: 1.43em;
  height: 1em;
  fill: initial;
}
.icon-dropdown_thin {
  width: 1.83em;
  height: 1em;
  fill: #fff;
}
.icon-email {
  width: 1.25em;
  height: 1em;
  fill: #474216;
}
.icon-eye {
  width: 1.65em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-file {
  width: 1em;
  height: 1em;
  fill: #474216;
}
.icon-filter {
  width: 1em;
  height: 1em;
  fill: #4D4A2F;
}
.icon-folder-color {
  width: 1em;
  height: 1em;
  fill: url(#paint0_linear);
}
.icon-hint {
  width: 1em;
  height: 1em;
  fill: #4D4A2F;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-length {
  width: 1.74em;
  height: 1em;
  fill: #FF9100;
}
.icon-maestro {
  width: 1.25em;
  height: 1em;
  fill: #0099DF;
}
.icon-mastercard {
  width: 1.29em;
  height: 1em;
  fill: #231F20;
}
.icon-mir {
  width: 3.41em;
  height: 1em;
  fill: #4DB45E;
}
.icon-needle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-refresh {
  width: 1em;
  height: 1em;
  fill: #FF9100;
}
.icon-search {
  width: 1.1em;
  height: 1em;
  fill: transparent;
}
.icon-search_arrow {
  width: 0.63em;
  height: 1em;
  fill: transparent;
}
.icon-tooltip-eye {
  width: 1.65em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-visa {
  width: 3.11em;
  height: 1em;
  fill: #00579F;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
